<!DOCTYPE html>
<html>
  <head>
    <title>Alterando dados da pessoa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
  </head>
  <body>
	<div class="container">
		<h1>Alterando dados da pessoa</h1><br>
		<a href="/">Home</a>
		<fieldset id="formCadastro">
			<legend>Cadastro de pessoas</legend>
			<form action="/alterar-pessoa?cpfAterar=<%= pessoa.cpf %>" method="POST" onsubmit="return validacao()">
				<div>
					<label for="nome">Nome: </label>
					<input class="form-control" type="text" name="nome" value="<%= pessoa.nome %>" id="nome" /> 
				</div>
				<div>
					<label for="sobrenome">Sobrenome:  </label>
					<input class="form-control" type="text" name="sobrenome" value="<%= pessoa.sobrenome %>" id="sobrenome" /> 
				</div>
				<div>
					<label for="cpf">CPF:  </label>
					<input class="form-control" type="text" readonly="true" name="cpf" value="<%= pessoa.cpf %>" id="cpf" /> 
				</div>
				<div>
					<label for="telefone">Telefone:  </label>
					<input class="form-control" type="text" name="telefone" value="<%= pessoa.telefone %>" id="telefone" /> 
				</div>
				<div>
					<label for="endereco">Endereço:  </label>
					<input class="form-control" type="text" name="endereco" value="<%= pessoa.endereco %>" id="endereco" /> 
				</div>
				<hr>
				<div>
					<input class="btn btn-success" type="submit" value="Alterar" /> 
				</div>
			</form>
		</fieldset>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.12.0.js"></script>
	<script type="text/javascript" src="/javascripts/popper.min.js"></script>
	<script type="text/javascript" src="/javascripts/validacao.js"></script>
  </body>
</html>
