<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="container">
		<h1>Cadastro com dados backend</h1><br>
		<a href="/">Home</a>
		<fieldset id="formCadastro">
			<legend>Cadastro de pessoas</legend>
			<form action="/cadastrar-pessoa" method="POST" onsubmit="return validacao()">
				<div>
					<label for="nome">Nome: </label>
					<input class="form-control" type="text" name="nome" id="nome" /> 
				</div>
				<div>
					<label for="sobrenome">Sobrenome:  </label>
					<input class="form-control" type="text" name="sobrenome" id="sobrenome" /> 
				</div>
				<div>
					<label for="cpf">CPF:  </label>
					<input class="form-control" type="text" name="cpf" id="cpf" /> 
				</div>
				<div>
					<label for="telefone">Telefone:  </label>
					<input class="form-control" type="text" name="telefone" id="telefone" /> 
				</div>
				<div>
					<label for="endereco">Endereço:  </label>
					<input class="form-control" type="text" name="endereco" id="endereco" /> 
				</div>
					<input class="btn btn-primary mt-3 mb-3 pl-4 pr-4" onclick="carregarEstados()" type="button" value="Carregar Estados" />
				<div>
					<label for="estado">Estado:  </label>
					<select class="form-control" type="text" name="estado" id="estado"onchange="carregarCidades()"></select>
				</div>
				<div>
					<label for="cidade">Cidade:  </label>
					<select class="form-control" type="text" name="cidade" id="cidade" ></select> 
				</div>
				<hr>
				<div>
					<input class="btn btn-success" type="submit" value="Cadastrar" /> 
				</div>
			</form>
		</fieldset>
		<fieldset id="formCadastro" class="mt-4 mb-4">
			<legend>Buscar</legend>
			<form action="/pesquisar" method="GET">
				<div>
					<label for="nome">Nome: </label>
					<input class="form-control" type="text" name="nome" id="nome" /> 
				</div>
				<div>
					<input class="btn btn-primary mt-2" type="submit" value="buscar" /> 
				</div>
			</form>
		</fieldset>
		<fieldset>
			<legend>Pessoas cadastradas</legend>
			<table border="1" id="registros">
				<tr>
					<th class="p-2">Sobrenome</th>
					<th class="p-2">Nome</th>
					<th class="p-2">CPF</th>
					<th class="p-2">Telefone</th>
					<th class="p-2">Endereço</th>
					<th class="p-2"></th>
					<th class="p-2"></th>
				</tr>
				<% for(i=0; i<pessoas.length; i++) { %>
					<tr>
						<td class="p-2"><%= pessoas[i].nome %></td>
						<td class="p-2"><%= pessoas[i].sobrenome %></td>
						<td class="p-2"><%= pessoas[i].cpf %></td>
						<td class="p-2"><%= pessoas[i].telefone %></td>
						<td class="p-2"><%= pessoas[i].endereco %></td>
						<td class="p-2"><a href="/alterar?cpf=<%= pessoas[i].cpf %>">alterar</a></td>
						<td><a href="#" onclick="excluirDados('<%= pessoas[i].cpf %>')">excluir</a></td>
					</tr>
				<% } %>
			</table>
		</fieldset>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.12.0.js"></script>
	<script type="text/javascript" src="/javascripts/popper.min.js"></script>
	<script type="text/javascript" src="/javascripts/validacao.js"></script>
	<script type="text/javascript" src="/javascripts/ajax.js"></script>
  </body>
</html>
